/********** Main Styles **********/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #fff;
  /* Dark mode background */
  background-color: #001320;
}

main {
  max-width: 800px;
  margin: 2.5rem auto;
  padding: 0 1rem;
}

h1 {
  margin: 6rem 0 4rem 0;
}

/********** Layout **********/
.row {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.card {
  display: flex;
  /* Stack card content */
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  padding: 4rem;
  gap: 3rem;
}

/********** Box **********/
.box {
  width: 7rem;
  height: 7rem;
  /* A light border to avoid colours clashing with background */
  border: 1px solid #999;
  background: #eee;
  transition: all 200ms ease;
}

/********** BEM - Block Element Modifiers **********/
.box--green {
  background-color: #18e222;
}

.box--yellow {
  background-color: #e7ea05;
}

.box--red {
  background-color: #ce1d06;
}

/********** JavaScript Toggles **********/
.change-colour { 
    background-color: #05770b;
}

.change-shape { 
    border-radius: 50%; 
}

.hide-box { 
    opacity: 0; 
}

/********** Buttons **********/
button {
  padding: 0.75rem 1rem;
  border-radius: 50px;
  color: #fff;
  background: #062ef4;
  border-color: #062ef4;
  cursor: pointer;
}

button:hover {
  background: #0109ef;
}
